@font-face {
    font-family: 'Hamma Mamma Jamma';
    src: url('HammaMammaJamma-Regular.eot');
    src: url('HammaMammaJamma-Regular.eot?#iefix') format('embedded-opentype'),
        url('HammaMammaJamma-Regular.woff2') format('woff2'),
        url('HammaMammaJamma-Regular.woff') format('woff'),
        url('HammaMammaJamma-Regular.ttf') format('truetype'),
        url('HammaMammaJamma-Regular.svg#HammaMammaJamma-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

